#map-canvas {
      width: 400px;
      height: 300px;
      align-content:center;
}
 .gm-style-iw {
      text-align: center;
}

#googleMap {
     width: 400px;
      height: 300px;
      align-content:center;

}